@font-face {
    font-family: "NTR";
    font-weight: 200;
    font-display: fallback;
    src: url("/fonts/NTR-Regular.ttf") format("truetype");
}

#about {
    padding-left: 15%;
    padding-right: 25%;
    min-height: 60vh;
    padding-top: 80px;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* This ensures space between image and description */
}

.about-description {
    font-family: "NTR", sans-serif;
    color: var(--slate);
    max-width: 600px;
    font-size: 1.7em;
    text-align: justify;
    margin: 0;
}

.about-description-techs {
    margin-top: 1rem;
}

.about-image {
    padding-left: 40px;
}

.about-image img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.intro-name {
    color: #EE4266;
    font-weight: bold;
}

.about-para-2 {
    margin-top: 80px;
}



/* Medium devices */
@media only screen and (max-width: 1188px) {
    .about-image img {
        max-width: 200px;
    }

         .about-description {
             min-width: 300px;
             /* Adjust based on your design preference */
         }
}

/* Small devices */
@media only screen and (max-width: 600px) {
    #about {
        padding-left: unset;
        padding-right: unset;
        padding-top: unset;
        height: unset;
    }

    .about-description {
        font-size: 18px;
        max-width: 80%;
    }


    .about-image {
        margin-top: 30px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }

    .about-image img {
        margin-left: 0px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .react-reveal {
        margin: 0px;
    }

    .university-name {
        color: #EE4266;
        font-weight: bold;
        font-size: 24px;
    }


    .about-para-2 {
        margin-top: 40px;
    }
}

/* Hover effect */
