#toolkit {
    padding-left: 15%;
    padding-right: 25%;
    min-height: 60vh;
    padding-top: 10%;
    padding-bottom: 10%;
}


/* hover should make logos bigger */
.logo-hover-effect {
    transition: transform 0.3s; /* smooth transition */
}

.logo-hover-effect:hover {
    transform: scale(1.1); /* scale the logo up by 10% when hovered */
}


/*! Toolkit.css */


/* li {
    position: relative;
    width: 20%;
    padding-bottom: 20%;
    height: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 20px 10px rgba(var(--RGB_box-shadow), 0.1);
} */



li {
    border-radius: 20px;
    overflow: hidden;
    padding: 1%;
    /* box-shadow: 0px 20px 20px 10px rgb(155, 132, 132); */
    margin-bottom: 20px;
}

 /* #JsLogo {
    border-radius: 100px;
} 

#TsLogo {
    background: #3178c6;
}

#ReactLogo {
    background: #222;
} */

.skillSection-list ul {
    display: flex;
    justify-content: space-around;
    /* Adjust this value to bring icons closer or further apart */
    margin: auto;
    /* This will center the ul if its width is less than its container's width */
}


.skillSection-list li {
    list-style: none;
}

.skillSection-list svg {
    width: 100px;
    height: 100px;
}

.joblist-job-title {
    font-family: "NTR", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--lightest-slate);
}

.joblist-job-company {
    font-family: "NTR", sans-serif;
    font-size: 28px;
    color: var(--green-bright);
    font-weight: bold;
}

.joblist-duration {
    font-family: "NTR", sans-serif;
    font-size: 18px;
    color: var(--slate);
}

#vertical-tabpanel {
    margin-top: -28px;
    padding-left: 25px;
}

.MuiTab-wrapper {
    font-size: 16px;
    text-align: left;
    align-items: flex-start !important;
    font-family: "NTR", sans-serif;
}

.MuiButtonBase-root {
    outline: none !important;
    color: var(--lightest-slate) !important;
}

.PrivateTabIndicator-colorSecondary-5 {
    background-color: var(--green-bright) !important;
}

.jss5 {
    background-color: var(--green-bright) !important;
}

.makeStyles-tabs-2 {
    border-right: 1px solid var(--lightest-navy) !important;
}

#experience .MuiTab-root {
    padding: 6px 20px;
}

.MuiButtonBase-root:focus {
    color: var(--green-bright) !important;
}

ul {
    list-style: none;
    margin-left: -40px;
}

.job-container {
    text-align: left;
}

.job-description li::before {
    content: "▹    ";
    color: var(--green-bright);
    position: absolute;
    left: 0;
}

.job-description li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 16px;
    font-size: 18px;
    color: var(--slate);
}

.job-description {
    padding-top: 24px;
    max-width: 650px;
    font-family: "NTR", sans-serif;
    font-size: 20px;
}

.job-description a,
.job-description b {
    font-size: 19px;
    font-weight: bold;
}

   
@media only screen and (max-width: 600px) {
    #toolkit {
        /* padding-left: unset;
        padding-right: unset; */
        /* display: none; */
    }

    .jss1 {
        height: unset !important;
        flex-direction: column !important;
    }

    .makeStyles-root-1 {
        height: unset !important;
        width: unset;
        flex-direction: column;
    }

    .joblist-job-title {
        font-size: 22px;
    }

    .joblist-job-company {
        font-size: 22px;
    }

            .skillSection-top-row li svg,
        .skillSection-bottom-row li svg {
            width: 100%;
            height: 100%;
        }
    
        .skillSection-list li {
            width: 80px; /* Adjust the size for mobile */
            height: 80px;
        }
    
        .skillSection-list svg {
            width: 70%; /* Make SVGs smaller on mobile */
            height: 70%;
        }
}

